<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="height: 100%;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>小熊猫</title>

    <link href="/static/css/default.css" type="text/css" rel="stylesheet">
    <link href="/static/css/main.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/garden.js"></script>
    <script type="text/javascript" src="/static/js/functions_panzhenghao.js"></script>
    <script type="text/javascript" src="/static/js/t_tools.js"></script>
{#    <script type="text/javascript" src="/static/js/snow.js"></script>#}
    <script type="text/javascript" src="/static/js/index_logic.js"></script>
</head>

<body>

<div id="mainDiv">

    <div id="content">
        <div id="loveHeart">
            <canvas id="garden"></canvas>
            <div id="words">
                <div id="messages">
                    <div id="say_title">这是你出来的时光</div>
                    <div id="elapseClock"></div>
                </div>
                <div id="loveu">
                    <div id="say_jy">永远对你兜着满满的爱^_^</div>
                    <div class="signature"><div id="say_people">——你的爸爸妈妈</div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="snowBigBg" id="snowBigBg">
    <div class="snowbg" id="snowbg"></div>

    <div style="text-align:center;clear:both;margin-top: 40px">
        <div><a href="http://beian.miit.gov.cn">苏ICP备16055308号-4</a></div>
        <div ><font color="#fff" size=2.0pt>潘国天的版权所有</font></div>
    </div>
</div>

<script type="text/javascript">
    {#say_init();#}
    startLove();
    startSnow();
</script>

</body>
</html>
